{% include "base.html" %}

<style>
  body {
    font-family: "Cyber", sans-serif; /* Replace "Cyber" with the desired font or font stack */
    background-color: #756e6e; /* Change this to your desired shade of gray */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    color: #55aaff; /* Light blue color */
    text-align: center;
    margin-top: 60px;
  }

  form {
    max-width: 500px;
    margin: 20px auto;
    margin-top: 100px;
    background-color: #353535; /* Darker background color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Increased box shadow */
  }

  label {
    display: block;
    margin-bottom: 12px;
    color: #55aaff; /* Light blue color */
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  input[type="file"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #4d4d4d; /* Slightly darker border color */
    border-radius: 8px; /* Slightly increased border radius */
    box-sizing: border-box;
    background-color: #2b2b2b; /* Darker background color */
    color: #fff; /* White text color */
    transition: border-color 0.3s;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  input[type="file"]:focus {
    border-color: #55aaff; /* Light blue color on focus */
  }

  input[type="submit"] {
    background-color: #55aaff; /* Light blue color */
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #0077cc; /* Slightly darker blue on hover */
  }
</style>

<div class="container">
  <h1>Create a New Task</h1>

  <form method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %} {{ form.as_p }}
    <input required name="images" type="file" multiple />

    <input type="submit" value="Create Task" />
  </form>
</div>

{% include "footer.html" %}
